<% include partials/header %>
   

<div class="container">
      <header class="jumbotron">
        <div class="container">
            <h1> Welcome to NowLookStadium!</h1>
            <p>View all stadiums form all over the world</p>
            <p>
              <a class="btn btn-primary btn-lg" href = "/stadiums/new">Add New Stadium</a>
            </p>
        </div>
      </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% stadiums.forEach(function(stadiums){ %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= stadiums.image %>">
            <div class="caption">
              <h4> <%= stadiums.name %></h4>
            </div>
          </div>
        </div>
    <%  }); %>
    </div>
</div>

<% include partials/footer %>